@use "global" as *;

.blog {
    position: relative;
}

.blog__bg {
    @include mq("md") {
        width: 100%;
        min-height: rem(500);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background-image: url(../../assets/images/common/blog-bg.webp);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
}

.blog__inner.inner {
}

.blog__title {
}

.blog__cards {
    margin-top: rem(28);
    display: grid;
    gap: rem(40);
    justify-content: center;

    @include mq("md") {
        margin-top: rem(80);
        grid-template-columns: repeat(3, 1fr);
    }
}

.blog__card {
    width: 100%;
    max-width: rem(333);
    display: flex;
}

.blog__button {
    text-align: center;
    margin-top: rem(40);
    padding-bottom: rem(4);

    @include mq("md") {
        margin-top: rem(80);
    }
}

.blog__fish {
    width: rem(437);
    height: rem(201);
    position: absolute;
    top: rem(28);
    left: calc(50% - min(49vw, rem(622)));
}

.blog__fish img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
