@use "global" as *;

.blog-card {
    display: block;
    padding: rem(16) rem(16) rem(24);
    background-color: $white;
    box-shadow: 2px 2px 10px 0 rgb($black, 0.25);
    // height: 100%;
    display: flex;
    flex-direction: column;
    // flex-grow: 1;
}

.blog-card__img {
}

.blog-card__img img {
    aspect-ratio: 301/201;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-card__head {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $accent;
    padding-bottom: rem(4);
}

.blog-card__date {
    font-family: $third-font-family;
    font-size: rem(12);
    font-weight: $normal;
    line-height: calc(18 / 12);
}

.blog-card__title,
.blog-card__text {
    font-size: rem(16);
    line-height: calc(24 / 16);
}

.blog-card__title {
    font-weight: $medium;
}

.blog-card__body {
    margin-top: rem(16);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.blog-card__text {
    flex-grow: 1;
    font-weight: $normal;
}
