@use "global" as *;

.contact {
}

.contact__inner {
}

.inner {
}

.contact__container {
    text-align: center;
    position: relative;

    @include mq("md") {
        padding: rem(80) 0;
        box-shadow: 4px 4px 10px 0px rgb($black, 0.25);
        display: flex;
        justify-content: left;
    }
}

.contact__info {
    padding: 0 rem(25);

    @include mq("md") {
        width: 53%;
        padding-left: rem(50);
        padding-right: rem(82);
    }
}

.contact__head {
    border-bottom: 1px solid $accent;
    margin: 0 auto;

    @include mq("md") {
        padding-bottom: rem(5);
    }
}

.contact__logo {
    display: inline-block;
    width: rem(174);

    @include mq("md") {
        width: rem(200);
    }
}

.contact__wrapper {
    margin-top: rem(16);

    @include mq("md") {
        display: flex;
        gap: rem(20);
        margin-top: rem(24);
    }
}

.contact__address-wrap {
    @include mq("md") {
        text-align-last: left;
        flex-shrink: 0;
        margin-top: 0;
    }
}

.contact__address-wrap p:not(:first-of-type) {
    margin-top: rem(4);
}

.contact__tel {
    text-transform: uppercase;
}

.contact__opening-hours {
}

.contact__closed-day {
}

.contact__map {
    margin-top: rem(16);

    @include mq("md") {
        width: 62.04%;
        margin-top: 0;
    }
}

.contact__map iframe {
    display: block;
    aspect-ratio: 295/160;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include mq("md") {
        aspect-ratio: 273/148;
    }
}

.contact__action {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(24);
        border-left: 1px solid $accent;
        padding: 0 rem(80);
    }
}

.contact__title {
}

.contact__text-block {
    margin-top: rem(8);
}

.contact__text {
    color: $accent;
    font-size: rem(14);
    font-weight: $normal;
    line-height: calc(18 / 14);
}

.contact__button {
    margin-top: rem(40);
    padding-bottom: rem(4);
}

.contact__fish {
    position: absolute;
    width: rem(109);
    height: rem(50);
    top: rem(-25);
    right: 0;

    @include mq("md") {
        width: rem(301);
        top: rem(-36);
        height: rem(138);
        right: calc(50% - min(49vw, 41.875rem));
    }
}

.contact__fish img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
