@use "global" as *;

.fv-title {
    color: $white;
    font-family: $fourth-font-family;
    font-size: rem(40);
    font-weight: $normal;
    line-height: calc(48 / 40);
    letter-spacing: 0.54em;
    text-indent: 0.54em;
    text-transform: uppercase;

    @include mq("md") {
        font-size: rem(80);
        line-height: calc(100 / 80);
    }
}
