@use "global" as *;

.hamburger {
    position: fixed;
    z-index: 100;
    top: rem(28);
    right: rem(15);
    width: rem(32);
    height: rem(24);
    cursor: pointer;
}

.hamburger.is-active {
    width: rem(40);
}

.hamburger span {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    transition: transform 0.3s;
    background: $white;
    border-radius: 9999px;
}

.hamburger span:first-child {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: rem(12);
    transition: opacity 0.3s;
}

.hamburger span:nth-child(3) {
    top: rem(24);
}

.hamburger.is-active span:first-child {
    top: rem(12);
    left: rem(4);
    rotate: 37deg;
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
    top: rem(12);
    left: rem(4);
    rotate: -37deg;
}
