@use "global" as *;

.header {
    position: fixed;
    background-color: rgb($green, 0.68);
    width: 100%;
    height: rem(80);
    z-index: 50;

    @include mq("md") {
        height: rem(90);
    }
}

.header__inner {
    height: inherit;
    padding: 0 rem(15);
    display: flex;

    @include mq("md") {
        padding: 0 rem(20);
    }
}

.header__logo {
    width: rem(102);
    height: inherit;
    z-index: 49;

    @include mq("md") {
        width: rem(133);
    }
}

.header__logo a {
    display: grid;
    place-content: center;
    height: inherit;

    @include mq("md") {
        padding: 0 rem(20);
    }
}

.header__hamburger {
}

.header__pc-nav {
    margin-left: auto;
}
