@use "global" as *;

.pc-nav {
    height: inherit;
}

.pc-nav__items {
    display: flex;
    height: inherit;
}

.pc-nav__item {
    height: inherit;
    display: grid;
    place-content: center;
    text-align: center;
    color: $white;
}

.pc-nav__item a {
    display: inline-block;
    padding: 0 min(2vw, rem(20));
}

.pc-nav__item-en {
    font-family: $third-font-family;
    font-size: rem(18);
    font-weight: $normal;
    line-height: 1;
}

.pc-nav__item-en--faq {
    @extend .pc-nav__item-en;
    text-transform: uppercase;
}

.pc-nav__item-ja {
    font-size: rem(10);
    font-weight: $normal;
    line-height: calc(15 / 10);
}
